.m-padded-tb-mini{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tb-max{
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
/*字体*/
.m-text-thin{
    font-weight: 300 !important;
}
.m-text-spaced{
    letter-spacing: 1px !important;
}
.m-text-lined{
    line-height: 1.8;
}
.m-opacity-tiny{
    opacity: 0.8;
}
.m-inline-block{
    display: inline-block !important;
}
.m-margin-tb-tiny{
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}
.m-margin-tb-big{
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}
.image-size{
    width: 200px;
    height: 120px;
}
.m-black{
    color: #333;
}
.m-top-right{
    position: absolute;
    top: 0;
    right: 0;
}
.m-hide{
    display: none !important;
}

.m-container-small{
    max-width: 60em !important;
    margin: auto !important;
}
.m-padded-lr{
    padding-left: 4em !important;
    padding-right: 4em !important;
}
.img-size{
    width: 100% !important;
    height: 300px !important;
}
.m-shadow-small{
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0, 0.2) !important;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.2) !important;
}
@media screen and (max-width: 768px){
    .m-mobile-hide{
        display: none !important;
    }
    .m-hide{
        display: block !important;
    }
}

.sideTab {
    padding: 15px;
    overflow: hidden;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #eee;
    vertical-align: bottom;
    -webkit-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 8%);
}

.sideTab-title {
    padding-bottom: 10px;
    padding-left: 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    position: relative;
    font-size: 16px;
    z-index: 9;
    font-weight: bold;
}

h3.sideTab-title:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0;
    width: 3px;
    height: 22px;
    background-color: #00a4ff;
}

.mainBox {
    position: relative;
    padding: 20px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #eee;
    vertical-align: bottom;
    -webkit-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 8%);
}

.description {
    color: #888;
}

.content .header{
    width: 9em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media screen and (max-width: 767px) {
    #blogName {
        margin-left: -80px;
    }
}

.ani_dot {
    font-family: simsun;
}
:root .ani_dot { /* 这里使用Hack是因为IE6~IE8浏览器下， vertical-align解析不规范，值为bottom或其他会改变按钮的实际高度*/
    display: inline-block;
    width: 1.5em;
    vertical-align: bottom;
    overflow: hidden;
}
@-webkit-keyframes dot {
    0% { width: 0; margin-right: 1.5em; }
    33% { width: .5em; margin-right: 1em; }
    66% { width: 1em; margin-right: .5em; }
    100% { width: 1.5em; margin-right: 0;}
}
.ani_dot {
    -webkit-animation: dot 3s infinite step-start;
}

@keyframes dot {
    0% { width: 0; margin-right: 1.5em; }
    33% { width: .5em; margin-right: 1em; }
    66% { width: 1em; margin-right: .5em; }
    100% { width: 1.5em; margin-right: 0;}
}
.ani_dot {
    animation: dot 3s infinite step-start;
}

.backtop {
    z-index: 101;
    bottom: 65px;
    position: fixed;
    right: 0px;
    margin-right: 25px;
    cursor: url('../../img/cur/link.cur'), pointer;
}

.backtop .bt-box {
    padding: 11px 12px;
    margin-bottom: 5px;
    width: 42px;
    height: auto;
    line-height: 18px;
    vertical-align: middle;
    background: #363e49;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.04);
    text-align: center;
}

.backtop .bt-box i {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.backtop .weixin .pic {
    position: absolute;
    left: -133px;
    bottom: 4px;
    max-width: 132px;
    padding: 8px;
    background: #fff;
    animation-duration: .5s;
    -webkit-animation: fade-in .5s;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px rgb(0 0 0 / 8%);
}

.bt-box.weixin:hover,.bt-box.tnrt:hover,.bt-box.qq:hover,.backtop .bt-box:hover {
    background:#3690cf;
}
.bt-box.weixin:hover a,.bt-box.tnrt:hover a,.bt-box.qq:hover a,.backtop .bt-box:hover i {
    color:#fff;
}

#commentList {
    margin-top: 0;
}

.content-text {
    line-height: 26px;
    word-wrap: break-word;
    word-break: break-all;
}

.layui-laypage a, .layui-laypage span{
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: auto;
    height: 28px;
    line-height: 28px;
    text-align: center;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    outline: 0;
    border-radius: 4px;
    font-size: 14px;
    color: #777;
    font-weight: 400;
}

.layui-laypage a:hover {
    color:#108EE9;
}


@media screen and (max-width: 640px) {
    #loginModule {
        display: none;
    }

    .leave_position {
        margin-left: 0!important;
    }

    #commentList {
        margin-top: 20px!important;
    }

    .author {
        width: 100%!important;
        float: left!important;
        display: inline!important;
        margin-top: 3px!important;
        margin-left: -8px!important;
    }

    .metadata {
        width: 100%!important;
        float: left!important;
        display: inline!important;
        margin-left: -8px!important;
        margin-top: 3px!important;
    }

    .content .content-text, .content .imgShow, .actions, .textButtom {
        margin-left: -50px!important;
    }

    .comments {
        margin-top: -10px!important;
    }

    .backtop {
        margin-right: 14px!important;
    }
}

@media screen and (max-width: 767px) {
    #music {
        display: none;
    }

    #loginModule {
        display: none;
    }

    .addCollection {
        width: 350px!important;
    }

    .leave_position {
        margin-left: 0!important;
    }

    #commentList {
        margin-top: 20px!important;
    }

    .author {
        width: 100%!important;
        float: left!important;
        display: inline!important;
        margin-top: 3px!important;
        margin-left: -8px!important;
    }

    .metadata {
        float: left!important;
        display: inline!important;
        margin-left: -8px!important;
        margin-top: 3px!important;
    }

    .comment {
        margin-top: -15px!important;
    }

    .comments {
        margin-top: -10px!important;
    }

    .content .content-text, .content .imgShow, .actions, .textButtom {
        margin-left: -50px!important;
    }
}